@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    margin-top: 50px;
    height: 59px;
    display: grid;
    grid-template-areas: "logo nav reg";
}
.logo{
    font-family: 'Righteous', cursive;
    float: left;
    font-size: 24px;
    grid-area: logo;
    margin-top: 15px;
    margin-top: 15px;

}
.navs{
    text-align: center;
    display: inline;
    margin-left: 179px;
    margin-top: 17px;
}
.nav{
    font-family: 'Nanito sans';
    font-family: 'Roboto', sans-serif;
    margin: 0 38px;
    grid-area: nav;
}
.nav:hover{
    color: orange;
}
.reg{
    font-family: 'Roboto', sans-serif;
    float: right;
    border: 1px solid black;
    padding: 18px 46px;
    grid-area: reg;
    width: max-content;
}
a{
    text-decoration: none;
    black: #000;
}
.title_block{
    font-family: 'Righteous', cursive;
    font-size: 62px;
    text-transform: uppercase;
    max-width: 460px;
}
.text{
    display: block;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border-left: 2px solid;
    padding-left: 16px;
}
.btn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    padding: 18px 46px;
    margin-top: 40px;

}
.hover_btn{
    background: orange;
    border: 1px solid orange;
    color: white;
}
.welcome_block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 130px;
}
.men{
    height: 440px;
    margin: 0 auto;

}
.about_us{
    margin-top: 130px;
    height: 330px;
    background-color: #262543;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    padding: 30px 25px;
    box-sizing: border-box;
    padding-left: 270px;
}
.about_text{
    margin: 0 auto;
    margin-top: 55px;
}
.about_text h3{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    text-transform: uppercase;
}
.about_text span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.info{
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
}
.item>img{
    width: 58px;
    height: 58px;
    margin-bottom: 25px;
}
.item{
    position: relative;
    top: 15%;
}
.item>h4{
    font-size: 22px;
    font-family: 'Righteous', cursive;
    margin-bottom: 15px;
}
.item>span{
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.menu{
    display: none;
}
@media screen and (max-width: 1250px) {
    .container{
        width: 900px;
    }
    header{
        grid-template-area: "menu logo reg";
    }
    .menu{
        display: flex;
    }
    .navs{
        display: none;
    }
    .logo{
        text-align: center;
    }
    .reg{
        position: relative;
        right: 1%;
    }
    .welcome_block{
        grid-template-columns: 1fr;
    }
    .title{
        grid-template-columns: ;
    }
}

